@import "../variables.scss";
.project{
    padding: 3rem 2rem;
    display: grid;
    grid-gap: 3rem ;
    background-color: rgba($secondary-color-1, 0.749);
    // grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr)) ;
    grid-template-columns: repeat(3, 1fr) ;
    @media only screen and (max-width: 800px) {
       grid-template-columns: repeat(2, 1fr);
     }

     @media only screen and (max-width:600px){
         grid-template-columns: auto;
     }
    // grid-template-rows: repeat(2, 1fr);
    &-item{
        height: 40rem;
        padding: 0;
        width: 100%;
        position: relative;

        @media only screen and (max-width:1000px){
            height: 35rem;
        }
        @media only screen and (max-width:800px){
            height: 30rem;
        }

        &:hover &-card-back{
            transform: rotateY(0);
        }
        &:hover &-card-front{
            transform: rotateY(-180deg);
        }
        &-card{
            height: 100%;
            width: 100%;
            position: absolute;
            // top: 0;left: 0;
            backface-visibility: hidden;
            overflow: hidden;
            transition: all .7s;
            &-front{
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: 2px solid $secondary-color-1;
                   
                }
            }
            &-back{
                background-color: rgba($secondary-color-3, 0.646);
                transform: rotateY(180deg);
                color: $white;
                & h2{
                    margin-top: 4rem;
                }
            }
        }
    }
}

//addtional elements
.new{
    font-size: 1.5rem;
    text-transform: uppercase;
    position: absolute;
    width: 5rem;
    background-color: rgba($secondary-color-3, .8);
    height: 5rem;
    border-radius: 50%;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    z-index: 3;
   text-align: center;
   border: 3px solid $white;
   
   & strong{
       color: $white;  
       transform: translate(1rem, 1rem); 
       vertical-align: middle;
   }
}

.project_heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(rgba(black, 0.549), 0.501);
    box-shadow: 1rem 0 2rem rgba(rgba($secondary-color-3, 0.549), 0.596);
    color: $white;
    font-size: 2.5rem;
    padding:.5rem 1rem;
    border-radius: 10rem;
}