@import "../variables.scss";
.form{
    margin: 0 auto;
    width: 80%;
    text-transform: uppercase;
    &-group{
        margin: 0 auto;
        width: 60%;
        &:not(:last-child){
            margin-bottom: 2rem;
            // display: flex;
            // align-items: center;
            // flex-direction: column;
        }
    }

    &-input{
        background-color: transparent;
        width: 100%;
        padding: 1rem 2rem;
        border: none;
        color: $text-color;
        border-bottom: 1px solid rgba($text-color, 0.797);
        &-textarea{
            height: 8rem;
        }
        &:focus{
            border-bottom: 3px solid $green;
            outline: none;
            box-shadow: 0 .5rem 1rem rgba($text-color,  .2);
            &:invalid{
                border-bottom: 3px solid $invalid-color;
            }
        }
        &::placeholder{
            text-transform: uppercase;
            color: $text-color;
        }
        &:placeholder-shown + .form-label{
            display: none;
            opacity: 0;
        }
    }

    &-label{
       display: block;
       text-align: left;
       margin: 1rem;
    }
}