@import "../variables.scss";
.animation{
    // background-color: brown;
    width: 100%;
    
    padding-bottom: 2rem;
}

.carousel{
    width: 100%;
    overflow: hidden;
    &_container{
    width: 300%;
    display: flex;
    transition: all 3s;
    &-1{
        transform: translateX(-33.33%);        
    }
    &-2{
        transform: translateX(-66.66%);        
    }
    }

    &_item{
     height: 78vh; 
     width: 100%;  
     flex-basis: 100%;
     position: relative;
     background-size: cover;
    &-1{
        background-image: linear-gradient(to right bottom, rgba($primary-color-1, .6),rgba($primary-color-1, .12)),
         url("https://images.pexels.com/photos/257923/pexels-photo-257923.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2500");
    }
    &-2{
        background-image:   linear-gradient(to right bottom, rgba($primary-color-1, .6),rgba($primary-color-1, .12)),

         url("https://images.pexels.com/photos/4456604/pexels-photo-4456604.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=2500");
    }
    &-3{
        background-image: linear-gradient(to right bottom, rgba($primary-color-1, .6),rgba($primary-color-1, .12)),
         url("https://images.pexels.com/photos/3184450/pexels-photo-3184450.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1500");
    }

     & img{  
        //  object-fit: cover;
          width: 100%;
          height: 100%;
          background-size: cover;
     }

     &_caption{
         position: absolute;
         width: 40%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         top: 50%;
         right: 5%;
         transform: translateY(-50%);
         &-2{
             left: 5%;
             & h4{
                 color: $white;
                 font-size: 1.8rem !important;
             }
         }
         &-3{
             left: 50%;
             transform: translate(-40%, -50%);
         }
         &_header{
             background-color: $secondary-color-2;
             width: fit-content;
             margin: 0 auto;
             color: $white;
             padding: 1rem;
             border-radius: 10%;
             margin-bottom: 2rem;
         }
         & h4{
             font-size: 1.4rem;
             line-height: 1.8;
             letter-spacing: 1px;
            font-family: 'Nunito', sans-serif;
            text-transform: capitalize;
            @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Redressed&display=swap');
         }
     }
    }

    &_btn{
        position: absolute;
        top: 50%;
        transform: translateY(50%);
        background-color: rgba($secondary-color-3, 0.349);
        color: white;
        font-size: 2rem;
        font-weight: 100;
        padding: 1rem;
        outline: none;
        border: none;
        margin: 1rem;
        &:hover{
            background-color: rgba($secondary-color-3, 0.149);
        }
        &--left{
          left: 0;  
        }
        &--right{
            right: 0;
        }
        &--pause{
            display: none;
            top: 100%;
            right: 0;
        }
    }

    &_nav{      
        display: flex;
        justify-content: center;
        // padding: 1rem 0;
        position: relative;

        margin-top: -3rem;
        &-indicator{
            height: 1rem;
            width: 1rem;
            background-color: rgba($text-color,  0.479);
            border-radius: 50%;
            border: 1px solid rgba(rgba($secondary-color-3,  0.879), 0.479);

            &:not(:last-child){
                margin-right: 0.6rem;
            }
            &-current{
                background-color: $white;
            }
        }
    }
}