@import "../variables";
.contact{
    &_main{
        // background-color: rgba(245, 245, 245, 0.609);
        background-size: cover;
        padding: 3rem 2rem;
        background-image:linear-gradient(to right bottom, rgba($secondary-color-2, .695), rgba($secondary-color-2, .595)),
         url("contact.jpg");
    }
    text-transform: uppercase;
    justify-content: space-around;
    @import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Righteous&display=swap');
    font-family: 'Righteous', cursive;
    display: flex;

    @media only screen and (max-width:600px){
        flex-direction: column;
    }
    
    &_info{
        display: flex;
        flex-direction: column;
        @media only screen and (max-width:600px){
            align-items: center;
        }
        &-item{
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            
            // display: flex;
            // justify-content: center;
            & span{
                margin-right: 1rem;
                grid-column: 1/span 2;
                margin-bottom: 2rem;
                & i{
                    font-size: 1.5rem;
                    margin-right: .5rem;
                    &:hover{
                        font-size: inherit;
                    }
                }
            }
            & a{
                grid-column: 3/span 4;
                text-align-last: left;
                text-decoration: none;
                color: inherit;
                text-transform: lowercase;
               
                &:hover{
                    color: rgba($text-color, 0.561);
                    text-decoration: underline;
                }
                
            }
        }
    }

    &_media{
        &-item{
            display: grid;
            grid-gap: 3.1rem;
            grid-template-columns: auto auto; 
            @media only screen and (max-width:600px){
              display: flex;
              justify-content: center;
            }         
            & a{
                text-decoration: none;
            }
     //icons styles
    & .fa{
    // font-size: 2.5rem;
    color: $white;
    border-radius: 50%;
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
       transform: scale(1.1);
    }
    &-facebook{   
       background-color: #3b5999;
    }
    &-twitter{
       background-color: #55acee;
    }
    &-linkedin{
       background-color: #0077B5;
    }
    &-instagram{
       background-color: #e4405f;
    }
    &-github{
        background-color: rgba(0, 0, 0, 0.76);
    }
 }
        }
    }
}

//form
.contact_form{
    position: relative;
    @import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Righteous&display=swap');
    font-family: 'Righteous', cursive;
    &_heading{
        padding-top: 7rem;
    }
    & Button{
        font-size: 1.5rem;
    }
}

.arrow-top{
    z-index: 23;
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    & a{
        text-decoration: none;
        color: white;

        &:hover{
         color: rgba(white, .7);
        }
    }
 }