.main{
   font-size: 1.6rem;
   display: flex;
   flex-direction: column;
}

h1, h2, h3, h4{
   text-transform: uppercase;
}

h4{
   margin: 0;
   padding: 0;
}

.tail{
   &::after{
      content: '';
      display: block;
      height: 2px;
      text-align: center;
      margin: 0 auto;
      background-color: black;
      width: 100%;
   }
   &-xsm::after{
      width: 5rem;
   }
   &-sm::after{
      width: 10rem;
   }
   &-md::after{
      width: 15rem;
   }
   &-sm-white::after{
      width: 7rem;
      background-color: white;
   }
   
}

