$purple:rgb(87, 0, 128);
$green: rgb(30, 128, 0);
$blue: rgb(0, 98, 255);
$white:#fff;
// $primary-color-1:rgb(241, 241, 241);
// $primary-color-2:rgb(246, 246, 246);
// $primary-color-3:rgb(251, 251, 251);
// $secondary-color-1:rgb(211, 211, 211);
// $secondary-color-2:rgb(128, 128, 128);
// $secondary-color-3:rgb(28, 28, 28);
// $text-color:#000;

//purple
$primary-color-1:rgb(81, 0, 118);
$primary-color-2:rgb(97, 5, 128);
$primary-color-3:rgb(107, 10, 138);
$secondary-color-1:rgb(67, 20, 108);
$secondary-color-2:rgb(57, 10, 98);
$secondary-color-3:rgb(47, 0, 88);
$text-color:#fff;

// addtional variables
$invalid-color:rgb(255, 94, 0);
