@import "../variables.scss";
.btn{
    border: none;
    border-radius: 10rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem 1rem;
    @import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Righteous&display=swap');
    font-family: 'Righteous', cursive;
    transition: all .3s;
    &:hover{
        transform: scale(0.98) translateY(.2rem);
        cursor: pointer;
    }
    &-sm{
        font-size: 1.5rem;
    }
    &--white{
        background-color: rgba($secondary-color-3, 0.812);
        color: $white;
        border: 3px solid $white;
        &:hover{
            color: rgba($secondary-color-3, 0.812);
            background-color: $white; 
          
        }
    }
    &--black{
        color: rgba($secondary-color-3, 0.812);
        background-color: $white;
        border: 2px solid rgba($secondary-color-3, 0.812);
        &:hover{
            border: 3px solid $white;
            background-color: rgba($secondary-color-3, 0.812);
            color: $white;
        }
    }
    &:focus{
        outline: none;
    }
}