.btn{
    border: none;
    border-radius: 10rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    margin: 2rem 1rem;
    @import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&family=Righteous&display=swap');
    font-family: 'Righteous', cursive;
    transition: all .3s;
    &:hover{
        transform: scale(0.95) translateY(.5rem);
        cursor: pointer;
    }
    &-sm{
        font-size: 1.5rem;
    }
    &--white{
        background-color: rgba(0, 0, 0, 0.712);
        color: white;
        border: 3px solid white;
        &:hover{
            color: rgba(0, 0, 0, 0.712);
            background-color: white; 
          
        }
    }
    &--black{
        color: rgba(0, 0, 0, 0.712);
        background-color: white;
        border: 2px solid rgba(0, 0, 0, 0.712);
        &:hover{
            border: 3px solid #fff;
            background-color: rgba(0, 0, 0, 0.712);
            color: white;
        }
    }
    &:focus{
        outline: none;
    }
}