.about_me{
    padding: 3rem 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: rgb(241, 241, 241);
    // color: white;
    @import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');
    font-family: 'Hanalei Fill', cursive;  
    word-spacing: 2px;
    letter-spacing: 1px;
    font-size: 115%;
    &-intro{
        grid-column: 2/span 6;
        line-height: 2;
    }
    &-education{
        grid-column: 9/span 3;
        &_list{
          list-style: none;
            &-item{
                text-align: left;
                text-transform: uppercase;
                &::before{
                    content: "";
                    background-color: white;
                    width: .5rem; 
                    height: .5rem;
                    margin-right: 1rem;
                    display: inline-block;
                    border: 5px solid rgba(128, 128, 128, 0.616);
                    border-radius: 50%;
                    vertical-align: middle;
                }      
            }
        }
    }
}